img {
    width: 20%;
}

#img {
    display: block;
    animation: myAnimation 4s ease 1s alternate-reverse;
}

@keyframes myAnimation {
    100% {
        transform: rotate(3600deg);
    }
}

#img1 {
    display: block;
    animation: myAnimation1 4s ease 1s alternate forwards;
}

@keyframes myAnimation1 {
    100% {
        transform: scale(0);
    }
}

#img2 {
    display: block;
    animation: myAnimation2 4s ease 1s alternate forwards;
}

@keyframes myAnimation2 {
    100% {
        transform: rotate(36000deg);
    }
}