nav ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    border: 2px solid blue
}

a {
    text-decoration: none;
    padding: 2px;
    color: black;
}