img {
    width: 60%;
}

#img {
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

#img1 {
    display: block;
    -webkit-filter: sepia(1);
    filter: sepia(1)
}

#img2 {
    display: block;
    -webkit-filter: invert(1);
    filter: invert(1)
}
